#nav { display: block; width: 100%;   padding: 20px; background: linear-gradient(88deg, rgba(19, 44, 75, 1) 0%, rgba(31, 164, 181, 1) 80%); align-items: center; box-shadow: inset 0px -20px 20px -10px #00acbd4a; position: relative; z-index: 20;}
#nav .centroNav{width: 100%;max-width: 1450px;margin: 0 auto;padding: 0 60px;display: flex;flex-wrap: wrap;justify-content: space-between;}
   #logo {width: 100%; max-width: 272px;}
   #nav-links { display: flex; list-style: none; flex-wrap: wrap; align-items: center; justify-content: center; row-gap: 20px; }
      #nav-links li {margin-right: 15px; width: max-content; }
      nav button { text-decoration: none; background-color: transparent; border: none; color: #0B2B4B; transition: 0.4s; font-size: 1em; cursor: pointer; font-family: "Montserrat", sans-serif; }
         #nav-links li a { padding: 5px; }
         #nav-links li button { padding: 5px;}
            #nav-links li a:hover, nav button:hover { color: #fff; }
         #nav-links li span{color:#0B2B4B; cursor: pointer;}
            #nav-links li span:hover{color: #fff;}
   

.notification-container {
  position: relative;
}

.notification-icon {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 30px;
}

.notification-count {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: red;
  color: white;
  border-radius: 100%;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-size: 12px;
}

.bell-icon {
   width: 100%;
 }
 
.notification-popup {
  position: absolute;
  top: 40px;
  right: 30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
}

